*{
    margin: 0;
    padding: 0;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: black;
}

/* ABSOLUTES : Nav */
.nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.nav__email {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 10px 20px;
    cursor: pointer;
}
.nav__email > i{
    padding: 0 10px;
    margin-bottom: -3px;
    font-size: 20px;
}
.nav__burger{
    display: none;
    cursor: pointer;
    z-index: 100;
}
.nav__btns{
    display: flex;
    flex-direction: row;
    padding: 5px 20px;
}
.nav__btn{
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}
@media screen and (max-width: 768px){
    .nav__btns{
        position: absolute;
        right: -150px;
        top: -10px;;
        padding-top: 80px;
        height: fit-content;
        width: 80px;
        border-radius: 10px;
        flex-direction: column;
        transition: .5s ease;
        background-color: rgb(0, 3, 27);
    }
    .nav__btns--active{
        right: -5px;
    }
    .nav__btn{
        text-align: center;
        padding: 0px;
        margin: 35px 0;
    }
    .nav__btn > a{
        color: white;
    }
    .nav__burger{
        display: inline;
        padding: 10px 30px;
    }
    .fas{
        font-size: 20px;
        color: black;
    }
    #times{
        display: none;
        margin-right: 2.5px;
        color: white;
    }
}

.home__links{
    display: flex;
    right: 20px;
    bottom: 20px;
}

/* HOME */
.home{
    height: 100%;
    width: 100%;
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-two);
}
.home__pic{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    background-image: url(../img/profile.jpeg);
    background-size: cover;
}
.home__header{
    width: 100%;
    text-align: center;
    padding: 24px 24px 0 24px;
}
.home__header > h1 {
    font-size: 88px;
}
.home__about{
    text-align: center;
    max-width: 750px;
    padding: 25px;
}
.home__about > h2{
    font-size: 25px;
}
.home__links{
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.links__homeBtn > a{
    padding: 10px 10px;
    margin: 0 5px;
    border-radius: 10px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .25s ease;
}
.links__homeBtn > a:hover{
    background: black;
    box-shadow: 0px 0px 20px -4px black;

}
.links__homeBtn:hover .homeLink{
    display: none;
}
.homeWord{
    display: none;
    font-size: 11px;
    color: white;
}
.links__homeBtn:hover .homeWord{
    display: inline;
}
.homeLink{
    font-size: 24px !important;
    color: black !important;
}
@media screen and (max-width: 768px){
    .home__header > h1{
        font-size: 70px;
        margin: 0 5px;
    }
    .home__about > h2{
        font-size: 20px;
        margin: 0 5px;
    }
}
@media screen and (max-width: 425px){
    .home__header > h1{
        font-size: 60px;
    }
    .home__pic{
        height: 144px;
        width: 144px
    }
    .home__scroll{
        display: none;
    }
}


/* EDUCATION */
.education{
    height: fit-content;
    width: 100%;
    background-color: rgb(248, 248, 250);
}
.education__box{
    max-width: 720px;
    padding: 40px 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}
.education__content{
    width: fit-content;
}
.education__content > h3{
    width: fit-content;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 3px solid turquoise;
}
.education__content > h4{
    font-weight: 20;
}


/* SKILLS */
.skills{
    max-width: 720px;
    padding: 50px 50px;
    margin-left: auto;
    margin-right: auto;
}
.skills > h3{
    width: fit-content;
    padding-bottom: 5px;
    border-bottom: 3px solid turquoise;
    margin-bottom: 10px;
}
.skills__lists{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.skills__box{
    width: 100%;
    padding: 30px 0;
}
.skills__box > h4{
    color: lightgray;
}
.skills__list{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}
.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    height: 140px;
    width: 100px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px lightgray;
    margin-top: 10px;
    margin-right: 15px;
}
.skill > h3{
    padding: 10px 0;
}
.skill > .fab{
    font-size: 80px;
}
.skill > img{
    height: 80px;
}
.tool{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    padding: 0 10px;
    width: fit-content;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px lightgray;
    margin-top: 10px;
    margin-right: 15px;
}


/* WORKS */
.works{
    width: 100%;
    height: fit-content;
    background-color: rgb(248, 248, 250);
}
.works__box{
    max-width: 750px;
    padding: 50px 50px;
    margin-left: auto;
    margin-right: auto;
}
.works__box > h3{
    width: fit-content;
    padding-bottom: 5px;
    border-bottom: 3px solid turquoise;
    margin-bottom: 10px;
}
.works__content{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.works__card{
    width: 200px;
    border-radius: 10px;
    border: solid 1px lightgrey;
    box-shadow: 0px 0px 20px -2px lightgrey;
    transition: .2s ease;
    margin-bottom: 15px;
    margin-right: 10px;
}
.works__card:hover{
    transform: scale(1.05);
    border: none;
    box-shadow: 0px 0px 20px 5px lightgrey;
}
.works__cardTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
}
.works__cardTop > i{
    font-size: 55px;
    padding: 10px;
    background: rgb(229, 235, 235);
    border-radius: 10px;
}
.works__btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    font-weight: 600;
}
.works__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 32px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}
.demo{
    background: rgb(0, 3, 27);
    color: white;
}
.demo:hover{
    box-shadow: 0px 0px 20px -4px rgb(0, 3, 27);
}
.repo{
    background: lightgreen;
}
.repo:hover{
    box-shadow: 0px 0px 20px -4px rgb(91, 230, 91);
}
.works__title{
    width: 100%;
    text-align: center;
    padding: 10px 0;
}
.works__about{
    padding: 0 10px 20px 10px;
    text-align: center;
}


/* CONTACT */
.contact{
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    background:  rgb(0, 3, 27);
}
.contact__box{
    padding: 40px 0 30px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact__box > h3{
    width: fit-content;
    padding-bottom: 5px;
    border-bottom: 3px solid turquoise;
    margin-bottom: 10px;
}
.contact__info > p{
    padding: 2px;
}
.contact__links{
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.links__contactBtn > a > i{
    color: white;
    font-size: 24px;
}
.links__contactBtn > a{
    padding: 10px 10px;
    margin: 0 5px;
    border-radius: 10px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .25s ease;
}
.links__contactBtn > a:hover{
    background: white;
    box-shadow: 0px 0px 20px -4px white;
}
.links__contactBtn:hover .footerLink{
    display: none;
}
.footerWord{
    display: none;
    font-size: 11px;
    color: black;
}
.links__contactBtn:hover .footerWord{
    display: inline;
}
.footerLink{
    font-size: 24px !important;
    color: white !important;
}


/* FOOTER */
.footer{
    width: 100%;
    height: 100px;
    background-color: rgb(0, 3, 27);
}
.footer > h4{
    font-weight: 300;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    color: white;
    padding-top: 20px;
}